.dynamic-ui {
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  overflow-y: auto;
}

.dynamic-ui-wrapper {
  height: 100%;
  padding-bottom: 20px;
  margin-left: 20px;
}
