.inspect-panel {
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.inspect-panel__control-bar {
  width: 100%;
  height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.inspect-panel__tabs {
  width: calc(100% - 40px);
  height: 100%;
  float: left;
}

.inspect-panel__fullscreen-button {
  display: flex;
  width: 40px;
  height: 100%;
  float: right;
  border-left: 1px solid #ccc;
}
.inspect-panel__fullscreen-button > i {
  margin: auto;
  font-size: 19px;
}

.inspect-panel__tab {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  background: whitesmoke;
  border: none;
  float: left;
}

.inspect-panel__tab:hover:enabled {
  background: #eaeaea;
}

.inspect-panel__active-tab {
  border-bottom: 1px solid #5fa7f1;
}

.inspect-panel__disabled-tab {
  color: #ccc;
  cursor: default;
}

.inspect-panel__body {
  height: calc(100% - 40px);
}
