.start-page__container {
  display: flex;
  flex-direction: column;

  text-align: center;
  user-select: none;
}

.start-page__spacer {
  flex: 1;
}

.start-page__content {
  flex: 0;
}

.start-page__title {
  position: relative;
  top: 150px;
  margin: 0;
  font-size: 25px;
}

.start-page__icon {
  opacity: 0.1;
  -webkit-user-drag: none;
}
