.start-page__container {
  text-align: center;
  user-select: none;
}

.start-page__title {
  position: relative;
  top: 150px;
  margin: 0;
  font-size: 25px;
}

.start-page__icon {
  opacity: 0.1;

  /*
   * Prevent the user from dragging the Element.
   */
  -webkit-user-drag: none;
}
