.inspect-correlation {
  position: relative;
  width: 100%;
  height: 100%;
}

.inspect-correlation__panels {
  display: flex;
  width: calc(100% - 72px);
  height: 100%;
  margin-right: 36px;
  margin-left: 36px;
  flex-direction: column;
}

.inspect-correlation__correlation-selection {
  position: relative;
  height: 175px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  user-select: none;
}

.inspect-correlation__correlation-data {
  height: calc(100% - 175px - 20px);
  padding: 20px;
}

.inspect-correlation__bottom-panel {
  width: 100%;
  max-height: calc(100% - 150px);
}

.inspect-correlation__bottom-panel--fullscreen {
  height: 100% !important;
  max-height: 100%;
}

.inspect-correlation__bottom-resize-div {
  z-index: 1;
  height: 9px;
  width: 100%;
  margin-top: -4px;
  margin-bottom: -4px;
  cursor: row-resize;
  flex-shrink: 0;
}

.inspect-correlation__right-resize-div {
  z-index: 1;
  width: 6px;
  margin-right: -4px;
  cursor: col-resize;
  flex-shrink: 0;
}

.inspect-correlation__upper-panel {
  display: flex;
  flex-grow: 1;
}

.inspect-correlation__diagram-viewer {
  flex-basis: 100%;
}

.inspect-correlation__token-viewer {
  max-width: calc(100% - 300px);
  flex-shrink: 0;
}

.inspect-correlation__right-toolbar {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 36px;
  height: 100%;
  padding-bottom: 22px;
}

.inspect-correlation__left-toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 100%;
  background-color: #f7f7f7;
  border-right: 2px solid #ccc;
  padding-bottom: 22px;
}
