.diagram-list {
  padding-right: 5px;
  padding-left: 22px;
}

.solution-loading {
  text-align: center;
}

.diagram-create {
  width: 100%;
  padding: 2.5px 0px;
  list-style: none;
}

.diagram-create__input-holder {
  flex: 1;
  margin-right: 15px;
}

.diagram-create__input-holder__input {
  width: 100%;
}

.diagram-create__input-holder__input--error {
  border-color: red;
}

.diagram-create__errors {
  padding: 2px;
  padding-left: 25px;

  margin-right: 15px;
  border: 2px solid red;
  color: red;
  border-top: none;
}

.diagram-create__errors__error {
  list-style-type: disc;
}

.diagram-rename-container {
  width: 100%;
  padding: 2.5px 0px;
  list-style: none;
}

.diagram-rename-container__input-holder {
  flex: 1;
  margin-right: 15px;
}

.diagram-rename-container__input-holder__input {
  width: 100%;
}

.diagram-rename-container__input-holder__input--error {
  border-color: red;
}

.diagram-rename-container__errors {
  padding: 2px;
  padding-left: 25px;
  margin-right: 15px;
  border: 2px solid red;
  border-top: none;
  color: red;
}

.diagram-rename-container__errors__error {
  list-style-type: disc;
}

.diagram-entry {
  display: flex;
  padding: 2.5px 0px;
  cursor: pointer;
}

.diagram-entry__icon {
  flex: 0;
  margin-top: 2px;
  margin-right: 6px;
}

.diagram-entry__name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.diagram-entry:hover .diagram-entry__name {
  text-decoration: underline;
}

.diagram-entry__actions {
  display: none;
}

@media (any-hover: none) {
  .diagram-entry__actions {
    display: flex;
  }
}

.diagram-entry:hover .diagram-entry__actions {
  display: flex;
}

.diagram-entry__actions button {
  padding: 0 2px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toast-message__headline {
  width: calc(100% + 30px);
  margin-left: -30px;
}
