.bpmn-studio-navbar {
  display: flex;
  height: 42px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #dcdbdb;
  user-select: none;
}

.bpmn-studio-navbar--macos {
  -webkit-app-region: drag;
}

a,
button {
  -webkit-app-region: no-drag;
  color: inherit;
}

.bpmn-studio-navbar--macos .menu-bar__menu--left::before {
  padding-left: 80px;
  content: "";
}

.menu-bar__menu--right {
  padding-right: 20px;
}

.menu-bar__menu {
  flex: 1 100%;
}

.menu-bar__menu--left {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

.menu-bar__menu--center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar__menu--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.menu__menu-tabbed-link {
  display: flex;
  padding: 0 8px;
  align-items: stretch;
  font-weight: bold;
  text-decoration: none;
}

.menu__menu-tabbed-link--active {
  border-bottom: 2px solid #5e5e5e;
}

.menu__menu-tabbed-link--active .menu-tabbed-link {
  color: inherit;
  text-decoration: none;
}

.menu-tabbed-link {
  display: block;
  text-decoration: none;
  line-height: 40px;
}

.menu-tabbed-link:hover {
  cursor: default;
  text-decoration: inherit;
  -webkit-user-drag: none;
}

.action-button {
  background: inherit;
  border: none;
}

.menu-bar__dashboard-dropdown {
  top: 40px;
  padding: 0;
  cursor: pointer;
  background-color: #f7f7f7;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

.menu-bar__menu-center--action-button {
  background-color: inherit;
  border: none;
}

.menu-bar__menu-center--action-button:disabled {
  cursor: default;
}

.process-details-dropdown-menu {
  user-select: text;
}

.menu__element {
  margin: 0 10px;
  color: #5c5c5c;
  white-space: nowrap;
}

.menu__element--title {
  margin-bottom: 1px;
}

.menu-bar__menu-center--back-button {
  margin-right: 20px;
  margin-left: 20px;
}

.menu__origin-icon {
  padding-top: 2px;
  float: left;
}

.solution-explorer {
  color: #5c5c5c;
}

.process-details-title {
  float: left;
  max-width: 220px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-bar__user-login {
  padding-left: 100px;
}

.edited-label {
  margin-left: 4px;
  opacity: 0.7;
}

.start-options__icon {
  font-size: 12px;
}

.dropdown__start-button {
  padding: 0;
}
