.forms-list{
  max-height: 150px;
  overflow-y:scroll;
}

.forms-item{
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}

.forms-addFormButton {
  position: absolute;
  right: 0px;
  top: 95px;
  width: 24px;
  height: 24px;
}

.forms-removeFormButton {
  position: absolute;
  right: 0px;
  width: 24px;
  height: 24px;
  top: auto;
}
