.forms-list {
  max-height: 150px;
  overflow-y:scroll;
}

.forms-item {
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}

.type-input {
  margin-bottom: 20px;
}

.add-forms {
  position: relative;
  top: -28px;
  padding-left: 5px;
}

.add-forms__button {
  width: 24px;
  height: 24px;
}

.remove-forms {
  padding-left: 5px;
  position: relative;
  top: 13px;
}

.remove-forms__button {
  margin-top: 7px;
  width: 24px;
  height: 24px;
}
