.key-value-column-left {
  width: 30%;
}

.key-value-column-right {
  width: 70%;
}

.key-value-input {
  width: 100%;
  margin: 2px 0;
}

.key-value-delete-button {
  border: none;
  background: transparent;
  padding-top: 2px;
}

.key-value-delete-button {
  color: darkgray;
}

.key-value-delete-button:hover {
  color: black;
}

.key-value-delete-button:focus {
  color: black;
}
