.inspect {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.inspect-layout__tools-right {
  position: fixed;
  width: 36px;
  top: 42px;
  right: 0px;
  bottom: 0;
  background-color: #f7f7f7;
  border-left: 2px solid #dcdbdb;
}

.inspect__heatmap-container {
  height: 100%;
  margin-right: 36px;
}

.dashboard__heatmap-container {
  margin-right: 36px;
}
