.waiting-room__grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25% 50% 25%;
  grid-row-gap: 20px;
}

.waiting-room__title {
  text-align: center;
}

.waiting-room__spinner {
  grid-row: 2;
  margin: auto;
}

.waiting-room__cancel-button {
  grid-row: 3;
  margin: auto;
  width: 200px;
}
