.waiting-room {
  margin: 40px 20px 20px 20px;
}

.waiting-room__title {
  width: 100%;
  text-align: center;
}

.waiting-room__spinner-row {
  display: block;
  text-align: center;
  font-size: 160px;
}

.waiting-room__button-row {
  display: block;
  margin: 40px auto;
  text-align: center;
}

.waiting-room__cancel-button {
  width: 200px;
  text-align: center;
}
