.forms-list{
  max-height: 150px;
  overflow-y:scroll;
}

.forms-item{
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}

.forms-addFormButton {
  position: absolute;
  right: 5px;
}

.forms-removeFormButton {
  position: absolute;
  right: 30px;
}
