.input-label{
  margin-top: 10px;
  margin-bottom: 0;
}

.forms-section {
  border-left: 5px solid grey;
  padding-left: 5px;
  padding-bottom: 10px;
}

.forms-list{
  max-height: 150px;
  overflow-y:scroll; 
}

.forms-item{
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}

.forms-addFormButton {
  position: absolute;
  right: 5px;
}
.forms-removeFormButton {
  position: absolute;
  right: 30px;
}
