.property-panel {
  margin-top: 10px;
  margin-right: 10px;
}

.register-dropdown {
  margin-bottom: 20px;
  margin-left: 10px;
}

.register-button {
  width: 295.75px;
}

.dropdown_button {
  width: 34px;
}
