.property-panel {
  margin-top: 10px;
  margin-right: 10px;
}

.indextab-dropdown {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.element-id-label {
  margin-left: 10px;
  font-size: 15px;
}

.indextab-button {
  width: 295.75px;
}

.dropdown_button {
  width: 34px;
}
