<template>
  <require from="./process-instance-list.css"></require>
  <span if.bind="correlations.length === 0" class="correlation-table__empty-message">No correlations found.</span>
  <table else class="table table-striped table-hover correlation-table">
    <thead>
      <tr class="correlation-table__headlines">
        <th click.delegate="sortList(SortProperty.Number)">
          Number <i if.bind="sortSettings.sortProperty === SortProperty.Number" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
        </th>
        <th click.delegate="sortList(SortProperty.StartedAt)">
          Started at <i if.bind="sortSettings.sortProperty === SortProperty.StartedAt" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
        </th>
        <th click.delegate="sortList(SortProperty.State)">
          State <i if.bind="sortSettings.sortProperty == SortProperty.State" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
        </th>
        <th click.delegate="sortList(SortProperty.User)">
          User <i if.bind="sortSettings.sortProperty === SortProperty.User" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
        </th>
        <th click.delegate="sortList(SortProperty.CorrelationId)">
          Correlation Id <i if.bind="sortSettings.sortProperty === SortProperty.CorrelationId" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
        </th>
      </tr>
    </thead>
    <tbody class="correlation-table__body">
      <tr repeat.for="tableEntry of sortedTableData" class.bind="tableEntry.correlationId === selectedCorrelation.id ? 'correlation-table__selected-entry': ''" click.delegate="selectCorrelation(tableEntry)">
        <td>${tableEntry.index}</td>
        <td>${tableEntry.startedAt}</td>
        <td>${tableEntry.state}</td>
        <td>${tableEntry.user}</td>
        <td>${tableEntry.correlationId}</td>
      </tr>
    </tbody>
  </table>
</template>
