
.correlation-table{
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

.correlation-table__header {
  position: relative;
  display: block;
}

.correlation-table__headlines {
  display: flex;
  width: 100%;
}

.correlation-table__headlines > th {
  width: 25% !important;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.correlation-table__body {
  display: block;
  height: 100%;
  overflow: auto;
}

.correlation-table__body > tr {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.correlation-table__body > tr > td{
  width: 25% !important;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  text-overflow: ellipsis;
}

.correlation-table__selected-entry {
  background-color: #e6e6e6 !important;
}
