<template>
  <require from="./token-viewer.css"></require>
  <div class="token-viewer">
    <div show.bind="shouldShowFlowNodeId" class="token-viewer__headline">
      <span>Token</span>
      <span class="headline__node-id">${flowNode.id}</span>
    </div>
    <span if.bind="!showTokenEntries && flowNode === undefined" class="token-viewer__empty-message">There is no token for this element.</span>
    <span if.bind="flowNode !== undefined && !showTokenEntries" class="token-viewer__empty-message">Select an element to view token.</span>
    <template repeat.for="entry of tokenEntries">
      <div class="token-entry-container">
        <div class="token-entry__event-type">
          Event Type: <span class="token-entry">${entry.eventType}</span>
        </div>
        <div repeat.for="load of entry.payload" class="token-entry__payload">
          <div class="payload__title" if.bind="load.name !== undefined">
            ${load.name}
          </div>
          <template repeat.for="value of load.values">
            <pre if.bind="value.title !== undefined" class="payload__name">- ${value.title} : ${value.value}</pre>
            <pre else class="payload__name">- ${value.value}</pre>
          </template>
        </div>
        </span>
      </div>
    </template>
  </div>
</template>
