<template>
  <require from="./token-viewer.css"></require>
  <div class="token-viewer">
      <div show.bind="shouldShowFlowNodeId" class="token-viewer__headline">
        <span>Token</span>
        <span class="headline__node-id">${flowNode.id}</span>
      </div>
      <span if.bind="!showTokenEntries && firstElementSelected" class="token-viewer__empty-message">There is no token for this element.</span>
      <span if.bind="!firstElementSelected && !showTokenEntries" class="token-viewer__empty-message">Select an element to view token.</span>
      <template repeat.for="entry of tokenEntries">
        <div class="token-entry-container">
          <div class="token-entry__event-type">
            Event Type: <span class="token-entry">${entry.eventType}</span>
          </div>
          <div repeat.for="load of entry.payload" class="token-entry__payload">
            <div class="payload__title">
              ${load.name}
            </div>
            <template repeat.for="value of load.values">
              <div class="payload__name">
                 - ${value.title} : ${value.value}
              </div>
            </template>
          </div>
          </span>
        </div>
      </template>
  </div>
</template>
