.token-viewer {
  position: relative;
  height: 100%;
  background: #f7f7f7;
  border-left: 2px solid #ccc;
  padding: 5px 10px;
  overflow: auto;
}

.token-viewer__headline {
  font-size: 18px;
  font-weight: 900;
}

.token-viewer__token {
  border: none;
}
