.section-panel {
  margin-bottom: 2px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.panel:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.panel--grow {
  flex: 1 100%;
  margin-top: 2px;
}

.panel__heading {
  padding: 5px 10px;
  font-weight: 400;
  color: #a5a5a5;
}

.panel__content {
  padding: 5px 10px;
  font-size: 12px;
}

.props-table {
  width: 100%;
}

.props-table th {
  width: 40px;
  padding: 5px 10px 5px 0;
  font-weight: normal;
  color: #a5a5a5;
}

.props-table td {
  width: 100%;
  padding: 5px 0;
  color: #a5a5a5;
}

.props-input {
  width: 100%;
  padding-bottom: 5px;
  padding-right: 17px;
  margin-top: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 400;
  color: #5c5c5c;
}

.props-table--clear-button {
  top: 2px;
  right: 15px;
}

.add-context-button {
  float: right;
  padding: 2px 7px;
  background-color: transparent;
  border: none;
}

.remove-context-button:disabled {
  cursor: default;
  opacity: 0.2;
}

.remove-context-button {
  float: right;
  padding: 2px 7px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
}

.key-value-delete-button {
  padding-top: 2px;
  background: transparent;
  border: none;
}
