.modeler {
  height: 100%;
  display: flex;
}

.canvasModel {
  height: 100%;
}

.diagramm {
  height: 100%;
  padding-right: 0;
  flex: 1;
}

.properties {
  height: 100%;
  background: rgb(220, 219, 219);
  padding-left: 2px;
  padding-right: 2px;
  width: 250px;
}

.modeler .label {
  color: black;
}

.bpp-properties-panel button,
.bpp-properties-panel [contenteditable] {
  min-height: 2em;
}

.bpp-element-list button.clear,
.bpp-element-list button.add {
  top: -28px;
  border-bottom: none;
}

.toggle_panel {
  position: relative;
  transform: rotate(-90deg);
  bottom: 1px;
  background-color: rgb(220, 219, 219);;
  border: 0;
  border-top-left-radius: 5px;
  right: 3px;
}

.resize_button {
  position: relative;
  transform: rotate(-90deg);
  bottom: 0;
  background-color: rgb(220, 219, 219);;
  border: 0;
  border-top-right-radius: 5px;
  right: 3px;
}

.resize-div {
  position: absolute;
  right: 294px;
  height: 90%;
  width: 5px;
}

.resize-div:hover {
  cursor: col-resize;
}

.toggle_div {
  right: 282px;
  height: 50%;
  bottom: -50px;
  position: absolute;
}

.expandIcon {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 36px;
}

.hideMinimap {
  margin-left: 143px;
  display: none;
}

/*
 * TOOLS
 *
*/

.tool-list--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tool-list--stretch .tool {
  flex: 1;
}

.tool-list--bottom {
  position: absolute;
  bottom: 26px;
}

.tool {
  display: block;
  text-align: center;
  padding: 5px;
  opacity: 0.5;
}

.tool__right {
  display: block;
  text-align: center;
  padding: 8px;
  opacity: 0.5;
}

.tool:hover {
  opacity: 1;
}

.tool--active {
  opacity: 1;
  background-color: #dcdbdb;
}

/*
 * WINDOW
 *
*/

.bpmn-io-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background: white;
}

.bpmn-io-layout__tools-left,
.bpmn-io-layout__tools-right {
  background-color: #f7f7f7;
  min-width: 45px;
}

.bpmn-io-layout__panel-left,
.bpmn-io-layout__panel-right {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bpmn-io-layout__panel-left,
.panel {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.bpmn-io-layout__main {
  flex: 1 100%;
}

/*
 * MENUES
 *
*/

.menu-bar__menu-left--tool {
  border: none;
  background-color: inherit;
}

.menu-bar__menu-right--tool {
  border: none;
  background-color: inherit;
}
