.modeler {
  height: 100%;
  display: flex;
}

.canvasModel {
  height: 100%;
}

.diagram {
  height: 100%;
  padding-right: 0;
  flex: 1;
}

.properties {
  height: 100%;
  background: rgb(220, 219, 219);
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modeler .label {
  color: black;
}

.bpp-properties-panel button,
.bpp-properties-panel [contenteditable] {
  min-height: 2em;
}

.bpp-element-list button.clear,
.bpp-element-list button.add {
  top: -28px;
  border-bottom: none;
}

.resize-div {
  position: absolute;
  height: 100%;
  width: 5px;
}

.resize-div:hover {
  cursor: col-resize;
}

.expandIcon {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 36px;
}

.hideMinimap {
  margin-left: 143px;
  display: none;
}

/*
 * TOOLS
 *
*/

.tool-list--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tool__right {
  color: #5e5e5e;
  display: block;
  text-align: center;
  padding: 2px;
  opacity: 0.5;
}

.tool:hover {
  opacity: 1;
}

.tool--active {
  opacity: 1;
}

/*
 * WINDOW
 *
*/

.bpmn-io-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background: white;
}

.bpmn-io-layout__tools-left {
  border-right: 2px solid #dcdbdb;
  width: 36px;
  overflow: hidden;
}

.bpmn-io-layout__tools-right {
  border-left: 2px solid #dcdbdb;
}

.bpmn-io-layout__tools-left,
.bpmn-io-layout__tools-right {
  background-color: #f7f7f7;
  width: 36px;
}

.bpmn-io-layout__panel-left,
.bpmn-io-layout__panel-right {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bpmn-io-layout__panel-left,
.panel {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.bpmn-io-layout__main {
  flex: 1 100%;
}

/*
 * MENUES
 *
*/

.menu-bar__menu-left--tool {
  border: none;
  background-color: inherit;
}

.menu-bar__menu-right--tool {
  border: none;
  background-color: inherit;
}

.djs-palette-override {
  position: relative !important;
  left: auto !important;
  top: 4px !important;
  width: 36px !important;
  background: transparent !important;
  border: none !important;

  .entry,
  .djs-palette-toggle {
    width: 30px;
    height: 32px;
    line-height: 24px;
    cursor: default;
    font-size: 18px;
  }

  .entry {
    opacity: 0.5;
  }

  .highlighted-entry,
  .entry:hover {
    color: #000 !important;
    opacity: 1;
  }

  .djs-palette-toggle {
    display: none !important;
  }

  .djs-palette-entries .separator {
    margin: 5px 0;
    padding: 0;
  }
}
