.inspect-correlation {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 22px;
}

.inspect-correlation__correlation-selection {
  position: relative;
  height: 175px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  user-select: none;
}

.inspect-correlation__correlation-data {
  height: calc(100% - 175px - 20px);
  padding: 20px;
}
