.inspect-correlation {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 22px;
}

.inspect-correlation__correlation-selection {
  position: relative;
  height: 175px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  user-select: none;
}

.inspect-correlation__correlation-data {
  height: calc(100% - 175px - 20px);
  padding: 20px;
}

.correlation-table__empty-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 24px;
  font-weight: 900;
}
