.key-value-column {
  width: 50%;
}

.key-value-input {
  width: 100%;
}

.key-value-delete-button {
  padding-top: 2px;
  border: none;
  background: transparent;
  color: darkgray;
}

.key-value-delete-button:hover {
  color: black;
}
