.process-explorer__solution-explorer {
  background-color: #f7f7f7;
  width: 220px;
  border-right: 2px solid #dcdbdb;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

.single-diagrams {
  margin-bottom: 20px;
}

.filesystem-solutions {
  border-top: 2px solid #dcdbdb;
}

.control-buttons {
  float: right;
}

.control-buttons button {
  padding: 0 2px;
  background: transparent;
  border: none;
}

.control-buttons button:hover {
  color: #5e5e5e;
}

.single-diagram-input {
  height: 0;
  visibility: hidden;
}

.single-diagram-close {
  position: relative;
  top: 3px;
  float: right;
  color: darkgray;
}

.single-diagram-close:hover {
  color: #5e5e5e;
}

.process-explorer__heading {
  color: #a5a5a5;
  font-weight: 400;
  padding: 8px;
  margin-bottom: 10px;
}

.process-explorer__structure-item {
  padding: 2px 10px;
  cursor: pointer;
}

.process-explorer__structure-item a {
  color: #5c5c5c;
  padding-left: 10px;
}

.solution-input-group {
  text-align: center;
  margin: 20px 0;
}

.open-solution-button {
  float: right;
  margin-top: 2px;
  cursor: pointer;
}

.solution-input {
  visibility: hidden;
  height: 0;
}

.solution-close {
  position: relative;
  top: 1px;
  padding-left: 10px;
  color: darkgray;
}

.solution-close:hover {
  color: #5c5c5c;
}

.solution-headline {
  padding-left: 10px;
  word-wrap: break-word;
  color: darkgray;
}

.solution-explorer-index-cards {
  display: flex;
  border-bottom: 2px solid #dcdbdb;
}

.index-card {
  padding: 8px 12px;
  color: darkgray;
}

.index-card--active {
  color: #5e5e5e;
}
