.process-explorer__solution-explorer {
  background-color: #f7f7f7;
  width: 220px;
  border-right: 2px solid #dcdbdb;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

.solution-explorer-index-cards {
  display: flex;
  border-bottom: 2px solid #dcdbdb;
}

.index-card {
  padding: 8px 12px;
  color: darkgray;
}

.index-card--active {
  color: #5e5e5e;
}


.single-diagrams {
  margin-bottom: 20px;
}

.filesystem-solutions {
  border-top: 2px solid #dcdbdb;
}

.control-buttons {
  float: right;
}

.control-buttons button {
  padding: 0 2px;
  background: transparent;
  border: none;
}

.control-buttons button:hover {
  color: #5e5e5e;
}

.single-diagram-input {
  height: 0;
  visibility: hidden;
}

.solution-input {
  visibility: hidden;
  height: 0;
}

.process-explorer__heading {
  padding: 8px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #a5a5a5;
}

.process-explorer__structure-item {
  padding: 2px 10px;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.process-explorer__structure-item a {
  padding-left: 10px;
  color: #5c5c5c;
}

.solution-group {
  display: flex;
  padding: 5px 10px;
}

.solution-headline {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: darkgray;
}

.solution-group__close {
  float: right;
  color: darkgray;
}

.solution-group__close:hover {
  cursor: pointer;
  color: #5e5e5e;
}

.solution-diagram-group {
  display: flex;
  padding: 5px 30px;
}

.solution-diagram-group__link {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.solution-diagram-group__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.single-diagram-group {
  display: flex;
  padding: 5px 10px;
}

.single-diagram-group__link {
  width: 180px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-diagram-group__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.single-diagram-group__close {
  float: right;
  color: darkgray;
}

.single-diagram-group__close:hover {
  cursor: pointer;
  color: #5e5e5e;
}

.solution-input-group {
  text-align: center;
  margin: 20px 0;
}

.open-solution-button {
  float: right;
  margin-top: 2px;
  cursor: pointer;
}
