.log-viewer {
  position: relative;
  height: calc(25% - 14px);
  overflow: hidden;
  background: #f7f7f7;
  border: 1px solid #ccc;
}

.log-viewer__body {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  border-top: 1px solid #ccc;
}
