.config-panel {
  margin: 20px 20px 20px 20px;
}

.config-panel__title {
  margin-bottom: 20px;
}

.config-panel__subtitle {
  padding-top: 5px;
}

.config-panel__card {
  margin-bottom: 20px;
}

.use-internal-processengine {
  cursor: pointer;
  text-decoration: underline;
}

.config-panel__card__alert {
  margin-top: 10px;
  margin-bottom: 0;
}

.config-panel__card__alert__link {
  cursor: pointer;
}

.uri-input--invalid {
  border: 2px red solid;
}

.uri-input--invalid:focus {
  border: 2px red solid;
}
