.input-label{
  margin-top: 10px;
  margin-bottom: 0;
}

.extensions-section {
  border-left: 5px solid grey;
  padding-left: 5px;
  padding-bottom: 10px;
}

.properties-addPropertyButton {
  position: absolute;
  right: 5px;
}

.properties-removePropertyButton {
  position: absolute;
  right: 5px;
}
