tr td:last-child {
  width: 1%;
  white-space: nowrap;
}

.create-process {
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
}

.processdef-list__btn-table-cell {
  text-align: center;
}

.processdef-list__latest-true {
  background-color: #5cb85c;
  padding-bottom: 7px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: darkgreen solid 0.5px;
}

.processdef-list__latest-false {
  background-color: red;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: darkred solid 0.5px;
}

.processdef-list__draft-true {
  background-color: #5cb85c;
  padding-bottom: 7px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: darkgreen solid 0.5px;
}

.processdef-list__draft-false {
  background-color: red;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: darkred solid 0.5px;
}
