

.create-process {
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
}

.processdef-list__btn-table-cell {
  text-align: center;
}

.loading-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.processdef-list-container {
  flex: 1;
  height: 100%;
  padding: 60px 60px;
}

.process-def-list {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.import-bpmn {
  margin-bottom: 4px;
}

.import-process-textbox {
  width: 50%;
  left: 25%;
  position: relative;
  margin-bottom: 15px;
}
