/*
 * Process Definition List Styles
 */
.process-def-list {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.process-def-list-table {
  table-layout: fixed;
}

.processdef-list__btn-import {
  margin-bottom: 10px;
}

.processdef-list__btn-create {
  margin-bottom: 10px;
}

.processdef-list-container {
  padding: 20px 60px;
  flex: 1;
}

.process-def-list__modal-body {
  height: 100px;
}

/*
 * Miscellaneous Styles
 */
.loading-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/*
 * Modal Import Dialogs
 */
.pagination {
  text-align: center;
}

.modal-dialog__headline {
  font-size: 30px;
}

.modal-dialog__import-bpmn {
  margin-top: 4px;
  margin-bottom: 4px;
}

.process-name-table-entry {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.process-buttons-table-entry {
  width: 150px;
}
