/*
 * Process Definition List Styles
 */
.process-def-list {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.process-def-list-table {
  table-layout: fixed;
}

.processdef-list-container {
  padding: 20px 60px;
  flex: 1;
  overflow: scroll;
}

/*
 * Miscellaneous Styles
 */
.loading-spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.process-name-table-entry {
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.process-name-table-entry:hover {
  background: #E5E5E5;
}
