.glyphicon-remove {
  position: relative;	
  display: inline-block;
  margin-left: 5px;	
  margin-top: 5px;
  z-index: 0;	
  opacity: 1;	  
  color: red;
  font-size: 15px;
}

.panel--general {
  flex: 1 100%;
  margin-top: 0;
}
