.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-left: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.glyphicon-remove {
  color: red;
  font-size: 15px;
}

.glyphicon-ok {
  color: green;
  font-size: 15px;
}

.section__special__element-id {
  position: relative;
  top: -27px;
  padding-left: 5px;
}


