.input-label{
  margin-top: 10px;
  margin-bottom: 0;
}

.signal-event-section {
  border-left: 5px solid grey;
  padding-left: 5px;
  padding-bottom: 10px;
}

.addSignalButton {
  position: absolute;
  right: 5px;
}
