.addPropertyButton {
  width: 24px;
  height: 24px;
}

.removePropertyButton {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
}

.input_field {
  position: relative;
  width: 146px;
}
