.addPropertyButton {
  width: 24px;
  height: 24px;
}

.removePropertyButton {
  width: 24px;
  height: 24px;
  margin-top: 20px;
}

.extensions-remove {
  position: relative;
  top: 31px;
}

.extensions-input {
  margin-top: 10px;
  margin-right: 10px;
}

.extensions-input--name {
  width: 50%;
  padding-right: 5px;
}

.extensions-input--value {
  width: 50%;
  padding-left: 5px;
}
