html,
body {
  height: 100%;

  font-size: 14px;
}

.faint {
  opacity: 0.5;
}

.window-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding-top: 42px;
  background: white;
}

.window-layout__tools-left,
.window-layout__tools-right {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  min-width: 36px;
  padding: 2px;
}

.window-layout__panel-left,
.window-layout__panel-right {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.window-layout__panel-left,
.panel {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

/*
 * MENU BAR
 *
*/

.menu-bar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  height: 42px;
  background-color: #f7f7f7;
}

.menu-bar--system-macos .menu-bar__menu--left {
  padding-left: 80px;
}

.menu-bar__menu {
  flex: 1 100%;
}

.menu-bar__menu--left {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

.menu-bar__menu--center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar__menu--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.menu-bar__menu-action-link {
  margin-top: 9px;
}

.menu-bar__menu-action-button {
  border: none;
  background-color: inherit;
}

.menu-bar__menu-action-button:hover {
  border: 1px black solid;
}

.menu__menu-tabbed-link {
  display: flex;
  align-items: stretch;
  margin: 0 10px;
}

.menu__menu-tabbed-link--active {
  border-bottom: 1px solid #5e5e5e;
}

.menu__menu-tabbed-link--active .menu-tabbed-link {
  font-weight: bold;
  color: #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
}

.menu-tabbed-link {
  display: block;
  line-height: 40px;
  color: #a5a5a5;
}

.menu-tabbed-link:hover {
  color: #5c5c5c;
  text-decoration: none;
}

.menu__element {
  color: #5c5c5c;
  margin: 0 10px;
}

/*
 * TOOLS
 *
*/

.tool-list--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tool-list--stretch .tool {
  flex: 1;
}

.tool-list--bottom {
  position: absolute;
  bottom: 26px;
}

.tool {
  display: block;
  text-align: center;
  padding: 5px;
  opacity: 0.5;
}

.tool:hover {
  opacity: 1;
}

.tool--active {
  opacity: 1;
}

/*
 * PROCESS SOLUTION PANEL
 *
*/

.process-structure-item {
  padding: 5px;
  padding-left: 24px;
}

/*
 * STATUS BAR
 *
*/

.status-bar {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  border-top: 2px solid #e9e9e9;
  background-color: #3f51b5;
  background-color: #9c27b0;
  background-color: #607d8b;
  color: #fff;
  font-size: 11px;
  user-select: none;
  cursor: default;
}

.status-bar__left-bar,
.status-bar__center-bar,
.status-bar__right-bar {
  flex: 1 100%;
}

.status-bar__left-bar {
  display: flex;
  justify-content: flex-start;
}

.status-bar__center-bar {
  display: flex;
  justify-content: space-around;
}

.status-bar__right-bar {
  display: flex;
  justify-content: flex-end;
}

.status-bar__element {
  padding: 0 10px;
  padding-top: 3px;
}

.status-bar__element:hover {
  background-color: #445a65;
}

.status-bar__separator {
  margin: 0 10px;
}

/*
 * CANVAS
 *
*/

.canvas__inner {
  margin: 0 2px;
  background: #fff;
}


