.faint {
  opacity: 0.5;
}

.window-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding-top: 42px;
  background: white;
}

.window-layout__tools-left,
.window-layout__tools-right {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  min-width: 45px;
  padding: 2px;
}

.window-layout__panel-left,
.window-layout__panel-right {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.window-layout__panel-left,
.panel {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.window-layout__main {
  flex: 1 100%;
}

/*
 * TOOLS
 *
*/

.tool-list--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.tool-list--stretch .tool {
  flex: 1;
}

.tool-list--bottom {
  position: absolute;
  bottom: 26px;
}

.tool {
  display: block;
  text-align: center;
  padding: 5px;
  opacity: 0.5;
}

.tool:hover {
  opacity: 1;
}

.tool--active {
  opacity: 1;
}

.hidden {
  display: none;
}

.process-details-dropdown-menu {
  width: 375px;
}

.red {
  color: #E53935;
}

.blue {
  color: #1E88E5;
}

.orange {
  color: #FB8C00;
}

.green {
  color: #43A047;
}

.purple {
  color: #8E24AA;
}

.none {
  color: transparent;
}


