.user-login-dropdown {
  position: absolute;  
  top: 38px;  
  right: 33px;
  z-index: 1;
  background-color: whitesmoke;
  border: 2px solid #dcdbdb;
  border-radius: 0;
}

.user-login-dropdown__content {
  padding: 10px;
}

.user-login {
  color: #5c5c5c;
  white-space: nowrap;
}

.user-login-dropdown__toggle {
  padding: 13px;
  cursor: pointer;
}
