.let {
  position: relative;
  height: 100%;
}

.let__body {
  position: relative;
  height: calc(100% - 20px);
}

.play-task-button-container {
  width: 102px;
  height: 82px;
  cursor: pointer;
}

.play-task-button {
  position: absolute;
  top: 30px;
  left: 44px;
  cursor: pointer;
  opacity: 0.4;
  pointer-events: none;
}

.play-task-button-container:hover .play-task-button {
  opacity: 1;
}

.let__parent-process-button {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 200px;
}

.let__back-button {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 200px;
}
