.diagram-viewer {
  position: relative;
  height: calc(50% - 14px);
  margin-bottom: 21px;
  overflow: hidden;
  background: #f7f7f7;
  border: 1px solid #ccc;
}

.diagram-viewer__body {
  position: relative;
  height: calc(100% - 20px);
}

.play-task-button {
  cursor: pointer;
  opacity: 0.1;
}

.play-task-button:hover {
  opacity: 1;
}
