.diagram-tools-panel {
  display: flex;
  float: left;
  width: 100%;
  margin-left: -6px;
  margin-bottom: 2px;
  background-color: #f7f7f7;
  border-left: 2px solid #dcdbdb;
  border-bottom: 1px solid #eee;
}

.tool {
  display: block;
  text-align: center;
  padding: 5px;
  margin: 0 5px;
  border: none;
  background: inherit;
  color: darkgray;
}

.tool:hover {
  color: black;
}

.open .tool {
  color: black;
  box-shadow: none !important; //Overwrite Bootstrap btn-group class combination
}

.color-dropdown {
  cursor: default;
}

.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: 0;
  color: #333;
  vertical-align: middle;
}
