<template>
  <require from="./diagram-viewer.css"></require>
  <div class="diagram-viewer" class.bind="showDiagram ? '' : 'diagram-viewer__collapsed'">
    <span if.bind="title !== '' || foldable === 'true'" class="diagram-viewer__headline" class.bind="foldable === 'true' ? 'diagram-viewer__foldable-headline' : ''" click.delegate="toggleDiagramVisibility()">
      <i if.bind="foldable === 'true'" class="fas" class.bind="showDiagram ? 'fa-caret-down' : 'fa-caret-right'"></i> ${title}
    </span>
    <div ref="canvasModel" class="diagram-viewer__body" class.bind="title !== '' || foldable === 'true' ? 'diagram-viewer__body__top-spacing' : ''" class.bind="showDiagram ? '' : 'diagram-viewer__canvas__hide'"></div>
  </div>
</template>
