.diagram-viewer {
  position: relative;
  height: calc(50% - 14px);
  margin-bottom: 21px;
  overflow: hidden;
  background: #f7f7f7;
  border: 1px solid #ccc;
}

.diagram-viewer__body {
  position: relative;
  height: 100%;
}

.diagram-viewer__empty-message {
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  transform: translate3d(-50%, -50%, 0);
  font-size: 24px;
  font-weight: 900;
}
