.diagramm-tools-panel {
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  margin-left: 2px;

  display: flex;
}

.diagramm-tools-panel
.tool {
  display: block;
  text-align: center;
  padding: 5px;
  color: darkgray;
}

.tool
button {
  border: none;
  background: inherit;
}

.diagramm-tools-panel
.tool:hover {
  color: black;
}

.tool.btn-group.open
button {
  color: black;
  box-shadow: none;
}
