<template>
  <require from="./inspect-panel.css"></require>
  <require from="./components/log-viewer/log-viewer"></require>
  <require from="./components/correlation-list/correlation-list"></require>
  <div class="inspect-panel">
    <div class="inspect-panel__control-bar">
      <div class="inspect-panel__tabs">
        <button class="inspect-panel__tab"
                class.bind="showCorrelationList ? 'inspect-panel__active-tab' : ''"
                click.delegate="changeTab(InspectPanelTab.CorrelationList)"
                title="Show a list of all correlations for this process model">
          Correlation List (${correlations.length})
        </button>
        <button class="inspect-panel__tab ${showLogViewer ? 'inspect-panel__active-tab' : ''}"
                class.bind="selectedCorrelation === undefined ? 'inspect-panel__disabled-tab' : ''"
                disabled.bind="selectedCorrelation === undefined"
                title.bind="selectedCorrelation !== undefined ? 'Show log of correlation' : 'Select a correlation in order to toggle the log viewer'"
                click.delegate="changeTab(InspectPanelTab.LogViewer)">
          Log Viewer
        </button>
      </div>
      <div class="button inspect-panel__fullscreen-button" click.delegate="toggleFullscreen()" title.bind="fullscreen ? 'Close full screen' : 'Open full screen'">
        <i class.bind="fullscreen ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"></i>
      </div>
    </div>
    <div class="inspect-panel__body">
      <correlation-list if.bind="showCorrelationList" correlations.bind="correlations" selected-correlation.two-way="selectedCorrelation"></correlation-list>
      <log-viewer if.bind="showLogViewer" active-solution-entry.bind="activeSolutionEntry" correlation.bind="selectedCorrelation"></log-viewer>
    </div>
  </div>
</template>
