<template>
  <require from="../../../../../../styles/sections.css"></require>
  <div class="section-panel panel--grow">
    <div class="panel__heading">External Task</div>
    <div class="panel__content">
      <table class="props-table">
        <tr>
          <th>Topic</th>
          <td>
            <input type="text" class="props-input name-input" value.bind="selectedTopic">
          </td>
        </tr>
        <tr>
          <th>Payload</th>
          <td>
            <textarea class="props-textarea name-input" value.bind="selectedPayload"></textarea>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
