html,
body {
  height: 100%;
  font-size: 14px;
  overflow: hidden; // As soon as our styling is clean this can be removed
}

a:focus,
button:focus,
input:focus {
  outline: none !important;
}

a:hover {
  color: inherit;
}

.settings-glyphicon {
  top: 12px;
  font-size: 2em;
  color: grey;
  padding: 0 !important;
  margin-right: 5px;
}

.navbar {
  margin-bottom: 0;
}

.bpmn-studio-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%
}

.bpmn-studio-layout__content {
  display: flex;
  flex: 1;
  align-items: stretch;
  height: 100%;
}

.router-view {
  flex: 1;
}

.toast-bottom-left {
  bottom: 20px;
}
