html,
body {
  height: 100%;
  overflow: hidden; // As soon as our styling is clean this can be removed
  font-size: 14px;
}

a:focus,
button:focus,
input:focus {
  outline: none !important;
}

a:hover {
  color: inherit;
}

.bpmn-studio-layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
}

.bpmn-studio-layout__content {
  display: flex;
  // The height of the navbar must be subtracted in order to get the total height for the content.
  max-height: calc(100% - 42px);
  flex: 1;
  align-items: stretch;
}

.router-view {
  flex: 1;
}

.toast-bottom-left {
  bottom: 20px;
}

.button {
  color: darkgray;
}

.button:disabled {
  color: darkgray;
  opacity: 0.1;
}

.button:hover {
  color: #5e5e5e;
}

.button--active {
  color: #5e5e5e;
}

.button--disabled {
  color: darkgray;
  opacity: 0.1;
}

.button--disabled:hover {
  color: darkgray;
  opacity: 0.1;
}
