html,
body {
  height: 100%;
  font-size: 14px;
}

.settings-glyphicon {
  top: 12px;
  font-size: 2em;
  color: grey;
  padding: 0 !important;
  margin-right: 5px;
}

.baseroute-text {
  position: fixed;
  left: 5px;
  bottom: 5px;
  color: #666666;
}

.navbar {
  margin-bottom: 0;
}

.bpmn-studio-layout {
  display: flex;
  height: 100%;
}

.router-view {
  flex: 1;
}
