.diff-view {
  height: 100%;
  width: 100%;
  background: white;
  bottom: 0;
}

.left-diff-view {
  position: relative;
  display: inline-block;
  width: calc(50% - 2px);
  height: 50%;
}

.right-diff-view {
  position: relative;
  display: inline-block;
  width: calc(50% - 2px);
  height: 50%;
}

.lower-diff-view {
  position: relative;
  width: 100%;
  height: 49%;
}

.left-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-right: 4px dashed #ccc;
}

.right-diff-view__canvasModel {
  width: 100%;
  height: 100%;
}

.lower-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-top: 4px dashed #ccc;
}

.diff-canvas-title {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
}

/*
 * Make added elements green
 */
.added:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: #43A047 !important;
  fill: #C8E6C9 !important;
}

/*
 * Make deleted elements red
 */
.deleted:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: #E53935 !important;
  fill: #FFCDD2 !important;
}

/*
 * Make changed elements orange
 */
 .changed:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: #FB8C00 !important;
  fill: #FFE0B2 !important;
}

/*
 * Make layout changed elements purple
 */
 .layout-changed:not(.djs-connection) .djs-visual > :nth-child(1) {
  stroke: #8E24AA !important;
  fill: #E1BEE7 !important;
}
