.diff-view {
  height: 100%;
  width: 100%;
  background: white;
  bottom: 0;
}

.left-diff-view {
  position: relative;
  display: inline-block;
  width: calc(50% - 2px);
  height: calc(33% - 2px);
}

.right-diff-view {
  position: relative;
  display: inline-block;
  width: calc(50% - 2px);
  height: calc(33% - 2px);
}

.lower-diff-view {
  position: relative;
  height: 67%;
}

.left-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-right: 4px dashed #ccc;
  border-bottom: 4px dashed #ccc;
}

.right-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-bottom: 4px dashed #ccc;
}

.lower-diff-view__canvasModel {
  width: 100%;
  height: 100%;
}

.diff-canvas-title {
  position: absolute;
  bottom: 4px;
  left: 10px;
  font-size: 20px;
  background: white;
}

.diff-legend {
  position: absolute;
  bottom: 35px;
  left: 10px;
  max-width: 112px;
  background: whitesmoke;
}


.diff-legend-entry {
  display: block;
  margin: 0px 10px 0px 10px;
}

.diff-legend-entry-first {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

.diff-legend-entry-last {
  margin-bottom: 10px;
}
