.modeler {
  display: flex;
  height: 100%;
}

.canvasModel {
  height: 100%;
}

.diagram {
  height: 100%;
  padding-right: 0;
  flex: 1;
}

.properties {
  width: 250px;
  height: 100%;
  background: rgb(220, 219, 219);
  overflow-y: auto;
  display: inline;
  -ms-overflow-style: none;
}

.properties::-webkit-scrollbar {
  display: none;
}

.modeler .label {
  color: black;
}

.resize-div {
  position: relative;
  float:left;
  left: -3px;
  width: 6px;
  height: 100%;
}

.resize-div:hover {
  cursor: col-resize;
}

/*
 * TOOLS
 *
*/

.tool__right {
  display: block;
  padding: 2px;
  text-align: center;
}

.tool--deactivated {
  display: block;
  padding: 2px;
  opacity: 0.2;
  color: #5e5e5e;
  text-align: center;
}

/*
 * WINDOW
 *
*/

.bpmn-io-layout {
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
  flex-direction: row;
  align-items: stretch;
}

.bpmn-io-layout__tools-left {
  width: 36px;
  min-width: 36px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 2px solid #dcdbdb;
  -ms-overflow-style: none;
}

.bpmn-io-layout__tools-left::-webkit-scrollbar {
  display: none;
}

.bpmn-io-layout__tools-right {
  border-left: 2px solid #dcdbdb;
}

.bpmn-io-layout__tools-left,
.bpmn-io-layout__tools-right {
  width: 36px;
  background-color: #f7f7f7;
}

.panel {
  background-color: #f7f7f7;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.bpmn-io-layout__main {
  width: 0;
  flex: 1 100%;
}

/*
 * MENUES
 *
*/

.menu-bar__menu-left--tool {
  background-color: inherit;
  border: none;
}

.djs-palette-override {
  position: relative !important;
  left: auto !important;
  top: 4px !important;
  width: 36px !important;
  background: transparent !important;
  border: none !important;

  .entry,
  .djs-palette-toggle {
    width: 32px;
    height: 32px;
    margin-left: 1px;
    cursor: default;
    font-size: 18px;
    line-height: 24px;
  }

  .entry {
    /*
     * This is used instead of the global button class because the
     * button class does not use '!important' which is needed in this case
     * to override the existing properties, given by bpmn.io.
     */
    color: #333 !important;
    opacity: 0.5 !important;
  }

  .highlighted-entry,
  .entry:hover {
    color: #333 !important;
    opacity: 1 !important;
  }

  .djs-palette-toggle {
    display: none !important;
  }

  .djs-palette-entries .separator {
    margin: 5px 0;
    padding: 0;
  }
}

/*
 * Color Picker
*/

.red {
  color: #E53935;
}

.blue {
  color: #1E88E5;
}

.orange {
  color: #FB8C00;
}

.green {
  color: #43A047;
}

.purple {
  color: #8E24AA;
}

.none {
  color: transparent;
}

/*
 * !important is needed to override the default
 * styling of the used color-picker component.
 */
.colorpicker-container {
  background: white !important;
  border: solid 1px #ccc !important;
}

.bpmn-js-bpmnlint-button {
  top: 20px;
  left: 50px;
  cursor: default;
}
