<template>
  <require from="./correlation-list.css"></require>
  <div class="correlation-container">
    <span if.bind="correlations.length === 0" class="correlation-table__empty-message">No correlations found.</span>
    <table else class="table table-striped table-hover correlation-table">
      <thead>
        <tr class="correlation-table__headlines">
          <th class="correlation-table__headline--number" click.delegate="sortList(CorrelationListSortProperty.Number)">
            Number <i if.bind="sortSettings.sortProperty === CorrelationListSortProperty.Number" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="correlation-table__headline" click.delegate="sortList(CorrelationListSortProperty.StartedAt)">
            Started at <i if.bind="sortSettings.sortProperty === CorrelationListSortProperty.StartedAt" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="correlation-table__headline" click.delegate="sortList(CorrelationListSortProperty.State)">
            State <i if.bind="sortSettings.sortProperty == CorrelationListSortProperty.State" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="correlation-table__headline" if.bind="false" click.delegate="sortList(CorrelationListSortProperty.User)">
            User <i if.bind="sortSettings.sortProperty === CorrelationListSortProperty.User" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="correlation-table__headline" click.delegate="sortList(CorrelationListSortProperty.CorrelationId)">
            Correlation ID <i if.bind="sortSettings.sortProperty === CorrelationListSortProperty.CorrelationId" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
        </tr>
      </thead>
      <tbody class="correlation-table__body">
        <tr dblclick.delegate="showLogViewer()" class="correlation-table__table-row" repeat.for="tableEntry of sortedTableData" class.bind="tableEntry.correlationId === selectedCorrelation.id ? 'correlation-table__selected-entry': ''" click.delegate="selectCorrelation(tableEntry)">
          <td class="correlation-table__table-entry--number">${tableEntry.index}</td>
          <td class="correlation-table__table-entry">${tableEntry.startedAt}</td>
          <td class="correlation-table__table-entry">${tableEntry.state}</td>
          <td if.bind="false" class="correlation-table__table-entry">${tableEntry.user}</td>
          <td class="correlation-table__table-entry">${tableEntry.correlationId}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
