textarea{
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
}

.xml-view {
  top: 100px;
  position: absolute;
}
